extend layout



block content

     h1 #{title}

     p Math.abs() is applied to #{numb1} is #{abs}

     p Math.acos() is applied to #{numb2} is #{acos}

     p Math.sin() is applied to #{numb3} is #{sin}

     p Math.sinh() is applied to #{numb4} is #{sin}